language: node_js
node_js:
  - 0.8

before_script:
  - npm install -g grunt-cli
  - npm install -g bower
  - bower install

script:
  - grunt test

notifications:
  irc:
    channels:
      - "irc.freenode.org#shareabouts"
    on_success: change
    on_failure: always
email:
   recipients:
    - dev@openplans.org
   on_success: change
   on_failure: always

