/* =Map area
-------------------------------------------------------------- */
.shareabouts-map {
  width: 100%;
  height: 300px;
  display: block;
  position: relative;
  z-index: 1;
}
.shareabouts-add-button {
  display: block;
  text-align: center;
  line-height: 2em;
  border: 1px solid black;
  background-color: white;
  padding: 0.5em;
}
.panel-open .shareabouts-add-button-container {
  display: none;
}

/* =Panel area
-------------------------------------------------------------- */
.shareabouts-panel {
  width: 100%;
  height: 0;
  display: block;
}
.panel-open .shareabouts-panel {
  height: auto;
  position: relative;
  z-index: 2;
}
.shareabouts-panel-content {
  padding: 1em;
}
.shareabouts-close-button {
  position: absolute;
  top: -1em;
  left: 10px;
  background-color: #fff;
  border: 0;
  border-radius: 0.25em 0.25em 0 0;
  color: Hotpink;
  display: block;
  height: 1.5em;
  width: 1.5em;
  font-size: 1.5em;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
  display: none;
}
.panel-open .shareabouts-close-button {
  display: block;
}


/* =Media Queries (breakpoints via Foundation)
-------------------------------------------------------------- */

/* Define mobile styles */
@media only screen {
}

/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (max-width: 40em) {
}


/* ----- Medium screens ----- */

/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) {

  .shareabouts-container {
    position: relative;
  }

  .shareabouts-map {
    height: 100%;
  }
  .panel-open .shareabouts-map {
    width:50%;
    display: inline-block;
  }
  .shareabouts-add-button-container {
    position: relative;
    bottom: 4em;
    left: 1em;
    width: 10em;
    z-index: 3;
  }

  .shareabouts-panel {
    width: 0;
    height: 100%;
    display: none;
  }
  .panel-open .shareabouts-panel {
    width:50%;
    height: 100%;
    display: inline-block;
    box-shadow: 0 0 1em rgba(0,0,0,0.2);
  }

  .shareabouts-close-button {
    top: 1em;
    left: -1.25em;
    border-radius: 0.25em 0 0 0.25em;
  }

  .shareabouts-panel-content {
    height: 100%;
    overflow: auto;
    -moz-box-sizing:border-box;
         box-sizing:border-box;
  }

}

/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
}


/* ----- Large screens ----- */

/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) {
}

/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
}


/* ----- XLarge screens ----- */

/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) {
}

/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
}


/* ----- XXLarge screens ----- */

/* min-width 1921px, xlarge screens */
@media only screen and (min-width: 120.063em) {
}
