.shareabouts-map {
  height: 100%;
  width: 100%;
}

.shareabouts-panel {
  width: 0;
  display: none;
}

.panel-open .shareabouts-map {
  width:50%;
  display: inline-block;
}

.panel-open .shareabouts-panel{
  height: 100%;
  width:50%;
  display: inline-block;
}